@{
    ViewData["Title"] = "Profile Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">Profile</h1>
    <form action="#">
        <div class="row mt-3">
            <div class="col-6">
                <label for="name" class="float-left">Name: </label>
                <input type="text" name="name" class="form-control" placeholder="Enter Name" value="" />
            </div>
            <div class="col-6">
                <label for="age" class="float-left">Age: </label>
                <input type="number" name="age" class="form-control" placeholder="23" value="" />
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-6">
                <label for="job_title" class="float-left">Job Title: </label>
                <input type="text" name="job_title" class="form-control" placeholder="Web developer e.g" value="" />
            </div>
            <div class="col-6">
                <label for="working_experience" class="float-left">Working Experience: </label>
                <input type="text" name="working_experience" class="form-control" placeholder="Work Experience" value="" />
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-6">
                <label for="location" class="float-left">Location: </label>
                <input type="text" name="location" class="form-control" placeholder="Lahore" value="" />
            </div>
            <div class="col-6">
                <label for="contact" class="float-left">Contact: </label>
                <input type="number" name="contact" class="form-control" placeholder="03xx-xxxxxxx" value="" />
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-6">
                <label for="skills" class="float-left">Skills: </label>
                <input type="text" name="skills" class="form-control" placeholder="xyz,abc" value="" />
            </div>
            <div class="col-6">
                <label for="email" class="float-left">Email: </label>
                <input type="email" name="email" class="form-control" placeholder="xyz@@mail.com" value="" />
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-4"></div>
            <div class="col-4">
                <button type="submit" class="form-control btn btn-primary">OK</button>
            </div>
            <div class="col-4"></div>
        </div>

    </form>
</div>